<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Create Post</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <h1>Ink and Insights</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">All Posts</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <form action="/new" method="post">

    <h3>Create your Blog</h3>

      <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
      </div>
      <div>
        <label for="content">Content:</label>
        <textarea id="content" name="content" rows="5" required></textarea>
      </div>
      <div>
        <button type="submit">Create</button>
      </div>
    </form>
  </main>
</body>
</html>
